<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order fullfillment</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <script>
    function fulfill(orderid) {
      axios.post("http://localhost:3000/updatestatus", {
        orderid: orderid,
      });
      alert("Order " + orderid + "has been fulfilled");
      location.reload(true);
    }
  </script>

  <body>
    <div class="nav-bar">
      <li class="banner">Automotive parts store</li>
      </a>
      <a href="/index">
        <li class="item">Home</li>
      </a>
    </div>

    <h3>Order List</h3>

    <il>
      <% for (order in all) { %>
      <li>
        <button onclick="fulfill(<%= all[order].orderid %>)">
          Fulfill Order
        </button>
        <%= all[order].orderid %>, <%= all[order].name %>, <%= all[order].email
        %>, <%= all[order].address %>, <%= all[order].shipandhandle %>, <%=
        all[order].price %>, <%= all[order].weight %>, <%=
        all[order].timeoforder %>,
      </li>
      <% }; %>
    </il>
  </body>
</html>
