<html>

<head>
    <title>Part List</title>
</head>

<body>
    <h3>List of all Parts:</h3>
    <il>
        <% for (part in all) { %>
            <li>
            <%= all[part].number %>,
            <%= all[part].description %>,
            <%= all[part].price %>,
            <%= all[part].weight %>,
            <a href=<%= all[part].pictureURL %>>link</a>
            </li>
        <% }; %>
    </il>
</body>

</html>